@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto';
    line-height: 1.4;
}

a {
    text-decoration: none;
    color: #93cb52;

}

p {
    margin: 0.5rem 0;
}

/*class pelengkap*/

.text-primary{
    color:#93cb52;
}

.bg-light{
    background: #f4f4f4;
    color: #333;
}

.bg-dark{
    background: #333;
    color: #fff;
}

.bg-primary{
    background: #93cb52;
    color: #fff;
}

.l-heading{
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.5;
}

.m-heading{
    font-size: 2rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}

py-1{ padding: 2rem 0; 
}

py-2{ padding: 4rem 0; 
}

py-3{ padding: 6rem 0; 
}

.p-1{
    padding: 1.5rem;
}

.p-2{
    padding: 2rem;
}

.p-3{
    padding: 3rem;
}

.text-center {
    text-align: center;
}

.lead{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.btn{
    display: inline-block;
    color: #fff;
    background: #93cb52;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
}

.btn-hover{
    background: #7ab436;
}

.btn-dark{
    background-color: #333;
    color: #fff;
}

.list{
    margin: 0.5rem 0;
    list-style: none;
}

.list li {
    padding: 0,5rem 0;
    border-bottom: #444 dotted 1px;
}

/* Navbar */
#navbar{
    display: flex;
    position: sticky;
    top: 0;
    background: #333;
    color: #fff;
    justify-content: space-between;
    z-index: 1;
    padding: 1rem;
}

#navber ul {
    display: inline-block;
    align-items: center;
    list-style: none;
}

#navbar ul li a {
    color: #fff;
    padding: 0.75rem;
    margin: 0 0.25rem;
}

#navbar ul li a:hover {
    background: #93cb52;
    border-radius: 5px;
}

#showcase {
    background: #333 url('../rumahmewah.jpg') no-repeat center
    center/cover;
    height: 100vh;
    color: #fff;
}

#showcase .showcase-content {
    display: flew;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height:100%;
    padding: 0 2rem;
    position: absolute;
    top:65px;
    left:0;
    right: 0;
    bottom:0;
    background-color: rgba(0,0,0,0.4);

}

/* bagian layanan */
#what .items {
    display: flex;
    padding: 1rem;
}

#what .items .item {
    flex: 1;
    text-align: center;
    padding: 1rem;

}

#what .items .item i {
    background: #93cb52;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

#who {
    display: felx;
}
#who div{
    flex: 1;
}
#who .who-img{
    background: url('../people.jpg') no-repeat center center/cover;
}
#bank .items {
    display: flex;
}
#bank .items img{
    display: block;
    margin: auto;
    width:60%;
}

/*  bagian kontak/ pesan */
#contact .contact-form{
    flex:1;
}
#contact .contact-form .form-group{
    margin: 0.75rem;
}
#contact .contact-form label {
    display: block;
}
#contact .contact-form input {
    width: 100%;
    padding: 0.5rem;
}
#contact .video{
    flex: 2;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;

}

.video iframe,
.video object,
.video embed{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}